body {
    background-image: url(img2.jpg);
    background-size: cover;
}
.material-symbols-outlined{
    font-size: 80px; /* 调整图标大小 */
    position: absolute;
    top: -50px; /* 调整图标位置，使其在边框上方 */
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.register {
    position: relative; /* 确保图标相对于 .login 容器定位 */
    text-align: center;
    border: 5px solid black;
    border-radius: 40px;
    width: 600px;
    margin: 100px auto;
    background-color: rgba(255, 255, 255, 0.8);
}
.h1 {
    margin: 50px auto 10px auto;
    color: rgba(128, 128, 128, 1);
}
.register-field {
    margin: 10px auto;
    border: 3px solid transparent;
    border-radius: 5px;
}
.btn2 {
    margin: 10px auto;
    width: 175px;
    padding: 5px 0;
    background-color: rgb(69, 98, 200);
    color: wheat;
    border: 2px solid transparent;
    border-radius: 10px;
}
.btn2:hover{
    background-color: rgb(102, 0, 255);
}
.register-link{
    margin: 0 auto 10px 0;
}